/Debug
/enc_temp_folder
/EvolutionAI/Debug
/.vs
/EvolutionAI.sln
/EvolutionAI/EvolutionAI.vcxproj
/EvolutionCore/Debug
/EvolutionCore/EvolutionCore.vcxproj.filters
/EvolutionCore/EvolutionCore.vcxproj.user
/EvolutionCore/EvolutionCore.vcxproj
